PORT=
ALLOWED_ORIGINS=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM_NAME=

EMAIL_VERIFY_EXPIRE=
RESET_PASSWORD_EXPIRE=

# Redis Configuration
REDIS_URL=rediss://default:password@host:port
REDIS_HOST=localhost
REDIS_PORT=6379

#SUPABASE_URL=
#SUPABASE_SERVICE_KEY=
#SUPABASE_BUCKET=lms-media